<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
</head>
<body>
    <form method="POST">
        Nombre 1: <input type="text" name="nombre1" required><br>
        Nombre 2: <input type="text" name="nombre2" required><br>
        Nombre 3: <input type="text" name="nombre3" required><br>
        <button type="submit">Enviar</button>
    </form>
    {% if nombre_largo is not none %}
    <p>Nombre con mayor cantidad de caracteres es: {{ nombre_largo }}</p>
    <p>El nombre tiene : {{ longitud }} caracteres</p>
    {% endif %}
</body>
</html>
